@import '~include-media/dist/_include-media.scss';
@import 'variables.scss';
@import 'main-header.scss';
@import 'left-aside.scss';

* {
    margin: 0;
    padding: 0;
    // outline: 1px solid gold;
}

section {
    max-width: 520px;
    min-height: 1023px;
    background: #fff;
    border-right: 1px solid #dddddd;
    float: left;
}

.sec {
}

figure {
    margin: 0 26px;
}

.phone {
    overflow: hidden;
    margin-bottom: 0px;
}

.phone img {
    width: 248px;
    height: 169px;
}

.phone figure {
    float: left;
    margin-right: 18px;
}

.phone h3 {
    font: 17px/17px HelveticaCE, sans-serif;
    color: #696969;
}

.phone-numb {
    font: bold 26px/26px HelveticaCE, sans-serif;
    display: block;
    color: #2e2b2b;
    margin-top: 8px;
}

.adress-2 {
    margin-top: 22px;
}

.adress-2 h3 {
    margin-right: 113px;
    text-align: right;
}

.adress-2 p:before {
    content: '';
    background: url(../../public/assets/adress-mark.png) no-repeat;
    width: 44px;
    height: 70px;
    float: left;
    margin: -12px 10px 0 0;
}

.adress-2 img {
    width: 44px;
    height: 70px;
    float: left;
    margin: 16px 12px 0 0;
}

.adress-2 p {
    margin: 10px 0 11px 0;
    line-height: 20px;
    text-align: left;
}

.right-aside {
    float: right;
    width: 258px;
    height: 1023px;
    background: #fff;
    // background: #fff url(../../public/assets/aside-right-top.jpg) no-repeat;
    overflow: hidden;
}

aside.right-aside h2 {
    font: bold 22px/22px HelveticaCE, sans-serif;
    color: #195390;
    margin: 30px 0 0 23px;
}

aside.right-aside h3 {
    font: bold 16px/16px Helvetica, sans-serif;
    color: #386a9f;
}

.todays-deals {
    margin: 20px 28px 14px 23px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 14px;
}

.value-right-aside {
    display: inline-block;
    height: 31px;
    font: bold 20px/20px HelveticaCE, sans-serif;
    color: #2e2b2b;
    margin: 10px 18px 0 0;
}

.value-right-aside:nth-child(3):before {
    content: '';
    background: #ececec;
    height: 27px;
    width: 1px;
    position: absolute;
    margin-left: -7px;
    margin-top: 3px;
}

.value-right-aside:last-child:before {
    content: '';
    background: #d3d3d3;
    border-left: 1px solid #ececec;
    height: 27px;
    width: 1px;
    position: absolute;
    margin-left: -12px;
    margin-top: 3px;
}

.value-right-aside h4 {
    font: 11px/11px HelveticaCE, sans-serif;
    color: #195390;
    margin-bottom: 2px;
}

.img-right-aside {
    width: 93px;
    height: 70px;
    display: inline-block;
    background: #ccc url(../../public/assets/bg-img-aside-right.jpg) no-repeat;
}

.img-right-aside img {
    width: 91px;
    height: 68px;
    padding: 1px;
}

.right-aside figure {
    margin: 12px 0 0 0px;
}

.right-aside figcaption {
    float: right;
    font: 16px/16px HelveticaNeueCE, sans-serif;
    color: #737373;
    display: block;
    width: 62px;
    background: url(../../public/assets/clock.png) no-repeat 4px top;
    padding: 30px 35px 0 0;
    margin: 0;
}

.time-right-aside {
    display: block;
    width: 90px;
    font: bold 17px/17px HelveticaCE, sans-serif;
    color: #2e2b2b;
    margin-top: 8px;
}

footer {
    width: 1070px;
    overflow: hidden;
}

footer p {
    display: inline-block;
    color: #fff;
    padding: 22px 0 20px 410px;
    margin: 0;
    font: 13px/13px HelveticaCE, sans-serif;
}

.social-footer {
    float: right;
    word-spacing: 4px;
    margin-top: 12px;
}

body {
    background: #10447b !important;
    font: 13px HelveticaCE, sans-serif;
    color: #5e5e5e;
}

h1 {
    font: bold 26px/26px HelveticaNeueCE, sans-serif;
    color: #195390;
    padding: 33px 26px 10px 26px;
}

p {
    margin: 26px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: justify;
}

.wrapper {
    max-width: 1069px;
    margin: 0 auto;
}
