.main-header {
    color: #fff;
    margin-top: 20px;
    overflow: hidden;

    &__logo {
        display: inline-block;
    }

    &__cart-logo {
        float: right;
        width: 252px;
        height: 48px;
        background: #fbfbfb url(../../public/assets/cart-block-bg.png) repeat-x;
        color: #4d4d4d;
        font: 26px/18px HelveticaLT, sans-serif;
        border-radius: 3px;
        margin-right: 3px;
    }

    &__cart-logo-link {
        margin: 5px 20px 0 22px;
        display: inline-block;
    }

    &__cart-count,
    &__cart-value {
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
    }

    &__btn-checkout {
        float: right;
        margin: 11px 15px 0 0;
        width: 86px;
        height: 24px;
        background: #3d7ec2 url(../../public/assets/bottom-cart-bg.png) repeat-x;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        font-family: HelveticaNeueCE, sans-serif;

        &:hover {
            background: #3d7ec2;
        }
    }

    &__sigin-in {
        float: right;
        margin: 0 245px 0 0;
    }

    &__sigin-in-link {
        display: inline-block;
        font: 16px/16px HelveticaNeueCE, sans-serif;
        color: #d7e5f5;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: #d7e5f5;
        }
    }

    &__sigin-in-border {
        height: 16px;
        border-right: 2px solid #a1c3e7;
        margin: 0 19px;
    }

    &__nav-top-menu {
        background: #e7e7e7 url(../../public/assets/menu-top-bg.png) repeat-x;
        height: 38px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        float: left;
        margin: 0 0 0 290px;
        width: 412px;
    }

    &__nav-item {
        float: left;
        list-style-type: none;
        width: 33.3%;
    }

    &__nav-link {
        text-decoration: none;
        display: block;
        padding: 12px 0;
        font: 16px HelveticaLT, sans-serif;
        font-weight: bold;
        color: #3c3c3c;
        text-align: center;

        &:hover,
        &--active,
        &--active:hover {
            background: #3e7cbc url(../../public/assets/active-button-menu.jpg);
            color: #fff;
            display: block;
            text-decoration: none;
            display: block;
            padding: 12px 0;
            font: 16px HelveticaLT, sans-serif;
            font-weight: bold;
            text-align: center;
        }
    }

    &__select-img-right {
        position: absolute;
        margin: 18px 0 0 230px;
        z-index: -1;
    }

    &__select-city {
        border: none;
        background: none;
        display: block;
        float: right;
        font: 16px/16px HelveticaNeueCE, sans-serif;
        color: #fff;
        margin: 12px 128px 0 0;
        padding-right: 20px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &__option {
            background: #3275bc;
            font: 14px HelveticaNeueCE, sans-serif;

            &:first-child {
                display: none;
            }
        }
    }
}
